@model MyTvChannel.Models.MyChannel

<h3>@Model.Name</h3>

@Html.ActionLink("Edit", "EditMyChannel", new { id = Model.Id }, new { @class = "btn btn-info" })
@Html.ActionLink("Add Show", "CreateMyShows", new { id = Model.Id }, new { @class = "btn btn-info" })